<h1>Widget Details</h1>

<div class="details-container">
    <div class="label-container">
        <p>Name: </p>
        <p>{{ widgetData.detail }}</p>
    </div>
    <div class="label-container">
        <p>Type: </p>
        <p>{{ typeVal }}</p>
    </div>
    <div class="label-container" *ngIf="widgetData.type==1">
        <p>Target Date: </p>
        <p>{{ widgetData.target_date }}</p>
    </div>
    <div class="label-container">
        <p>Status: </p>
        <p>{{ statusVal }}</p>
    </div>
    <div class="label-container">
        <p>Created On: </p>
        <p>{{ widgetData.created_on }}</p>
    </div>


</div>