<h1>Widget Details</h1>

<div class="details-container">
    <div class="label-container">
        <p>Name: </p>
        <p>{{ widgetData.detail }}</p>
    </div>
    <div class="label-container">
        <p>Type: </p>
        <p>{{ typeVal }}</p>
    </div>
    <ng-container *ngIf="widgetData.type==1">
        <div class="label-container">
            <p>Target Date: </p>
            <p>{{ widgetData.target_date }}</p>
        </div>
        <div class="label-container">
            <p>Time Remaining: </p>
            <p>{{ timeRemaining }}</p>
        </div>
    </ng-container>
    <div class="label-container">
        <p>Status: </p>
        <p>{{ statusVal }}</p>
    </div>
    <div class="label-container">
        <p>Created On: </p>
        <p>{{ widgetData.created_on }}</p>
    </div>


</div>