<div class="countdown-container" (click)="openWidgetDetails()">
    <div class="timer-container">
        <p>{{ timeVal }} day(s) <span>to go</span></p>
        
    </div>
    <div class="div-line"></div>
    <div class="detail-container">
        <p>{{ detail }}</p>
    </div>
    <div class="div-line"></div>
    <div class="news-container">
        <div class="news-minora">
            <p>Best Streak 5 days</p>
        </div>
        <div class="news-majora">
            
            <p><img src="./assets/streaks.png"> 6 days </p>
        </div>
        
    </div>
</div>