<div class="countdown-container" (click)="openWidgetDetails()">
    <div class="timer-container">
        <p *ngIf="widgetData.target_date != ''; else noTargetDateWidget">{{ timeVal }} day(s) <span>to go</span></p>
        <ng-template #noTargetDateWidget>
            <p><span>started</span> {{ timeVal }} day(s) <span>ago</span></p>
        </ng-template>

    </div>
    <div class="div-line"></div>
    <div class="detail-container">
        <p>{{ detail }}</p>
    </div>
    <div class="div-line"></div>
    <div class="news-container">
        <div class="news-minora">
            <p>Best Streak 5 days</p>
        </div>
        <div class="news-majora">
            <img src="./assets/fa/fire.svg">
            <p> 6 days </p>
        </div>

    </div>
</div>