.top-section-container {
    display: flex;
    justify-content: space-between;
}

.calendar-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;

    .header {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .day-container {
        border: solid 1px black;
        text-align: center;
        
    }


}