@import "https://unpkg.com/@fortawesome/fontawesome-free@6.2.1/css/all.css";
@import "https://unpkg.com/angular-calendar@0.31.0/css/angular-calendar.css";
@import "https://unpkg.com/flatpickr@4.6.13/dist/flatpickr.css";
@import "../../../styles.scss";

.calendar-container {
  position: relative;

  padding: 2% 5%;

  .calendar-nav-container {
    position: relative;

    .top-section {
      display: flex;
      justify-content: space-between;

      .prev-nav,
      .next-nav {
        width: 2rem;
        font-size: 1rem;
      }
      .current-disp {
          font-size: $title-txt-2;
          font-weight: 600;
          margin: auto;
          width: 12rem;
          text-align: center;
      }
    }
    .bottom-section {
      display: flex;
      position: relative;
      justify-content: center;
      margin-top: 1rem;
      .switch-type-btns {
        position: relative;
        width: 10rem;
        margin: 0 1%;
      }
    }
  }
}
