<div class="calendar-container">


    <div class="calendar-nav-container">
        <div class="top-section">
            <button class="prev-nav" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                <img src="./assets/fa/angle-left.svg" />
            </button>
            <p class="current-disp">{{ viewDate | calendarDate : view + 'ViewTitle' : 'en' }}</p>

            <button class="next-nav" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                <img src="./assets/fa/angle-left.svg" style="transform: scale(-1);" /></button>
        </div>
        <div class="bottom-section">
            <button class="switch-type-btns" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">Month</button>
            <button class="switch-type-btns" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">Week</button>
            <button class="switch-type-btns" (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day">Day</button>
        </div>
    </div>
    <br />
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>

</div>