<div class="top-section-container">
    <button (click)="navMonthBack()">
        <img src="./assets/fa/angle-left.svg" />
    </button>
    <p>{{ currSelMonth }}</p>
    <button (click)="navMonthForward()">
        <img src="./assets/fa/angle-left.svg" />
    </button>
</div>

<div class="calendar-grid-container">

    <ng-container *ngFor="let lbl of headerLabels; ">
        <div class="header day-container">
            <p>{{lbl}}</p>
        </div>
    </ng-container>

    <ng-container *ngFor="let day of headerLabels | slice:0:preLimit">
        <div class="empty-cells day-container">
            <p>NA</p>
        </div>
    </ng-container>

    <ng-container *ngFor="let day of days; ">
        <div class="day-cells day-container"
            [ngClass]="{'curr-day': day.date === currDate, 'created-day' : day.date === createdOn, 'target-day' : day.date === targetDate, 'between-day': day.date > createdOn && day.date < targetDate}">
            <p>{{ day.dayOfMonth }}</p>
            <!-- <p>{{ day.date > createdOn && day.date < targetDate }}</p> -->
            <p>{{ day.date + ", " + createdOn }}</p>
            <div class="isPerformed-container">
                <!-- <img src="./assets/fa/check-solid.svg" /> -->
                <!-- <img src="./assets/fa/skull-solid.svg" /> -->
                <!-- <img src="./assets/fa/xmark-solid.svg" /> -->
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngFor="let day of headerLabels | slice:postLimit:6">
        <div class="empty-cells day-container">
            <p>NA</p>
        </div>
    </ng-container>
    
</div>