<p>calendar works </p>

<div class="top-section-container">
    <button (click)="navMonthBack()">prev</button>
    <p>{{ currSelMonth }}</p>
    <button (click)="navMonthForward()">next</button>
</div>

<div class="calendar-grid-container">

    <ng-container *ngFor="let lbl of headerLabels; ">
        <div class="header day-container">
            <p>{{lbl}}</p>
        </div>
    </ng-container>

    <ng-container *ngFor="let day of headerLabels | slice:0:preLimit">
        <div class="day-container" >
            <p>NA</p>
        </div>
    </ng-container>

    <ng-container *ngFor="let day of days; ">
        <div class="day-container" >
            <p>{{ day.date }}</p>
        </div>
    </ng-container>


    <ng-container *ngFor="let day of headerLabels | slice:postLimit:6">
        <div class="day-container" >
            <p>NA</p>
        </div>
    </ng-container>
    
</div>