.main-timer-container {
  position: relative;
  margin: 1% 0;
}
.widget-container {
  position: relative;
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(2, 50%);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1vmin;
  margin: 4% 0;
//   height: 60vh;

  .row-container {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
  }
}
