<div class="main-timer-container">
    <app-main-timer></app-main-timer>
</div>

<div class="widget-container">
    <ng-container *ngFor="let widget of ongoingWidgetList">
        <app-widget [widgetData]="widget"></app-widget>
    </ng-container>
    <app-create-new-widget></app-create-new-widget>
</div>
<!-- <div class="widget-container">

    <div class="row-container">
        <ng-container *ngFor="let widget of ongoingWidgetList_div1">
            <app-widget [widgetData]="widget"></app-widget>
        </ng-container>
    </div>
    <div class="row-container">
        <ng-container *ngFor="let widget of ongoingWidgetList_div2">
            <app-widget [widgetData]="widget"></app-widget>
        </ng-container>
    </div>
    <app-create-new-widget></app-create-new-widget>
</div> -->