<app-header-bar></app-header-bar>

<div class="main-timer-container">
    <app-main-timer></app-main-timer>
</div>

<div class="widget-container">

    <!-- <div class="row-container">
        <app-countdown-widget></app-countdown-widget>
        <app-countdown-widget></app-countdown-widget>
        <app-countup-widget></app-countup-widget>
        <app-last-performed-on-widget></app-last-performed-on-widget>
    </div> -->
    <!-- <div class="row-container">
        <app-countup-widget></app-countup-widget>
        <app-countdown-widget></app-countdown-widget>
        <app-countup-widget></app-countup-widget>
        <app-countdown-widget></app-countdown-widget>
    </div>
    <div class="row-container">
        <app-countup-widget></app-countup-widget>
        <app-last-performed-on-widget></app-last-performed-on-widget>
        <app-countup-widget></app-countup-widget>
        <app-countdown-widget></app-countdown-widget>
    </div>
    <div class="row-container">
        <app-countdown-widget></app-countdown-widget>
        <app-last-performed-on-widget></app-last-performed-on-widget>
        <app-countup-widget></app-countup-widget>
        <app-countdown-widget></app-countdown-widget>
    </div> -->
    <div class="row-container">
        <ng-container *ngFor="let widget of ongoingWidgetList">
            <app-countdown-widget *ngIf="widget.type == 1"></app-countdown-widget>
            <app-countup-widget *ngIf="widget.type == 2"></app-countup-widget>
            <app-last-performed-on-widget *ngIf="widget.type == 3"></app-last-performed-on-widget>
        </ng-container>
        <app-create-new-widget (click)="openWidgetCreator()"></app-create-new-widget>
    </div>





</div>